<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <form action="/signup" method="post">
        <input type="text" name="firstname" id="firstname" placeholder="Enter First Name">
        <input type="text" name="lastname" id="lastname" placeholder="Enter Last Name">
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password">

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account ? </p>
    <a href="/login">Login</a>
</body>

</html>